# what goes in the app
magic-wormhole==0.12.0

# what builds the app
briefcase==0.3.11

# unit tests
pytest==7.1.3
pytest-twisted==1.13.4

# other tools
ipython==8.5.0
pip-tools==6.8.0
pipdeptree==2.3.1
pyflakes==2.5.0
